<div class="payment-container">
  <h2>Choose Payment Method</h2>

  <div class="method-selector">
    <button [class.active]="paymentMethod === 'card'" (click)="selectMethod('card')">Card</button>
    <button [class.active]="paymentMethod === 'upi'" (click)="selectMethod('upi')">UPI</button>
  </div>

  <!-- Card Form -->
  <form *ngIf="paymentMethod === 'card'" [formGroup]="Paymentformcard" (ngSubmit)="submitCard()">
    <div *ngIf="cardErrorMessage" class="alert-box">{{ cardErrorMessage }}</div>

    <div class="form-group">
      <label>Cardholder Name</label>
      <input formControlName="name" />
    </div>
    <div class="form-group">
      <label>Card Number</label>
      <input formControlName="cardnumber" />
    </div>
    <div *ngIf="Paymentformcard.get('cardnumber')?.invalid && Paymentformcard.get('cardnumber')?.touched" class="alert-box">
  Card number must be exactly 12 digits.
</div>
    <div class="form-group">
      <label>Expiry Date</label>
      <input formControlName="expiry" />
    </div>
    <div *ngIf="Paymentformcard.get('expiry')?.invalid && Paymentformcard.get('expiry')?.touched" class="alert-box">
  Expiry must be in MM/YYYY format.
</div>
    <div class="form-group">
      <label>CVV</label>
      <input formControlName="cvv" />
    </div>
    <div *ngIf="Paymentformcard.get('cvv')?.invalid && Paymentformcard.get('cvv')?.touched" class="alert-box">
  CVV must be exactly 3 digits.
</div>

    <button type="submit" class="pay-btn">Pay ₹ {{amount}}</button>
    <p class="note">This is a demo page. No actual card transaction will occur.</p>
  </form>

  <!-- UPI Form -->
  <form *ngIf="paymentMethod === 'upi'" [formGroup]="Paymentformupi" (ngSubmit)="submitUpi()">
    <div *ngIf="upiErrorMessage" class="alert-box">{{ upiErrorMessage }}</div>
    
    <div class="form-group">
      <label>Name</label>
      <input formControlName="name" />
    </div>
    <div class="form-group">
      <label>UPI ID</label>
      <input formControlName="upiid" />
    </div>

    <button type="submit" class="pay-btn">Pay ₹ {{amount}}</button>
    <p class="note">This is a demo page. No actual UPI transaction will occur.</p>
  </form>
</div>
